{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenAPI Plant Store",
        "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sg.sobot.io"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/agent/queryDepartAgentInfoList": {
            "post": {
                "summary": "查询部门客服信息",
                "x-apifox-folder": "basic-public/service/坐席信息管理",
                "x-apifox-status": "released",
                "deprecated": false,
                "description": "",
                "tags": [
                    "basic-public/service/坐席信息管理"
                ],
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentQuery",
                                "description": ""
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralVO%C2%ABAgentVO%C2%BB",
                                    "description": ""
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "pageNo": 0,
                                            "pageCount": 0,
                                            "totalCount": 0,
                                            "pageSize": 0,
                                            "items": [
                                                {
                                                    "terminalCode": "",
                                                    "operatePageCode": "",
                                                    "serviceId": "",
                                                    "companyId": "",
                                                    "serviceName": "",
                                                    "serviceNick": "",
                                                    "servicePwd": "",
                                                    "password": "",
                                                    "serviceStatus": 0,
                                                    "oldServiceStatus": 0,
                                                    "serviceQq": "",
                                                    "serviceBirthday": 0,
                                                    "phoneNo": "",
                                                    "telephoneNo": "",
                                                    "serviceEmail": "",
                                                    "serviceAddress": "",
                                                    "createServiceId": "",
                                                    "createTime": 0,
                                                    "updateServiceId": "",
                                                    "updateTime": 0,
                                                    "effectTime": 0,
                                                    "invalidTime": 0,
                                                    "loginTime": 0,
                                                    "lastLoginTime": 0,
                                                    "maxAccept": 0,
                                                    "maxAccount": 0,
                                                    "faceImg": "",
                                                    "faceImage": "",
                                                    "imFlag": 0,
                                                    "serviceRemark": "",
                                                    "cusRoleId": "",
                                                    "cusRoleName": "",
                                                    "roleId": "",
                                                    "roleName": "",
                                                    "oldRoleId": "",
                                                    "oldRoleName": "",
                                                    "serviceNo": "",
                                                    "numberId": "",
                                                    "groupName": "",
                                                    "topFlag": 0,
                                                    "departId": "",
                                                    "departName": "",
                                                    "qywxDepartId": "",
                                                    "departFlag": 0,
                                                    "departType": "",
                                                    "proxyServiceId": "",
                                                    "channelUserId": "",
                                                    "managerFlag": 0,
                                                    "pwdType": 0,
                                                    "docStatus": 0,
                                                    "maxReceivingTickets": 0,
                                                    "serviceList": [
                                                        {
                                                            "serviceId": "",
                                                            "serviceName": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "serviceEmail": "",
                                                            "qywxUserId": "",
                                                            "qywxBindStatus": 0
                                                        }
                                                    ],
                                                    "departList": [
                                                        {
                                                            "relId": "",
                                                            "departId": "",
                                                            "serviceId": "",
                                                            "roleId": "",
                                                            "serviceEmail": "",
                                                            "managerFlag": 0,
                                                            "companyId": "",
                                                            "createId": "",
                                                            "createTime": 0,
                                                            "mainDepartFlag": 0
                                                        }
                                                    ],
                                                    "serviceIdList": [
                                                        ""
                                                    ],
                                                    "ticketGroupIdList": [
                                                        ""
                                                    ],
                                                    "onlineGroupIdList": [
                                                        ""
                                                    ],
                                                    "callGroupIdList": [
                                                        ""
                                                    ],
                                                    "elecGroupIdList": [
                                                        ""
                                                    ],
                                                    "departIdList": [
                                                        ""
                                                    ],
                                                    "departLevelNoList": [
                                                        ""
                                                    ],
                                                    "productIds": [
                                                        ""
                                                    ],
                                                    "productNames": [
                                                        ""
                                                    ],
                                                    "checked": false,
                                                    "qywxBindStatus": 0,
                                                    "qywxUserId": "",
                                                    "language": "",
                                                    "workbenchLang": "",
                                                    "mainDepartName": "",
                                                    "mainDepartId": "",
                                                    "callV6Flag": 0,
                                                    "roleType": 0,
                                                    "verificationCode": "",
                                                    "newServicePwd": "",
                                                    "phoneFlag": 0,
                                                    "duty": "",
                                                    "maxNum": 0,
                                                    "serviceIds": "",
                                                    "sortFlag": 0,
                                                    "newbieFlag": 0,
                                                    "timezone": "",
                                                    "timezoneId": "",
                                                    "timezoneValue": "",
                                                    "offset": "",
                                                    "groupType": 0,
                                                    "groupNames": [
                                                        {
                                                            "0": {}
                                                        }
                                                    ],
                                                    "groupId": "",
                                                    "ticketGroupIds": [
                                                        {
                                                            "terminalCode": "",
                                                            "operatePageCode": "",
                                                            "serviceId": "",
                                                            "companyId": "",
                                                            "serviceName": "",
                                                            "serviceNick": "",
                                                            "servicePwd": "",
                                                            "password": "",
                                                            "serviceStatus": 0,
                                                            "oldServiceStatus": 0,
                                                            "serviceQq": "",
                                                            "serviceBirthday": 0,
                                                            "phoneNo": "",
                                                            "telephoneNo": "",
                                                            "serviceEmail": "",
                                                            "serviceAddress": "",
                                                            "createServiceId": "",
                                                            "createTime": 0,
                                                            "updateServiceId": "",
                                                            "updateTime": 0,
                                                            "effectTime": 0,
                                                            "invalidTime": 0,
                                                            "loginTime": 0,
                                                            "lastLoginTime": 0,
                                                            "maxAccept": 0,
                                                            "maxAccount": 0,
                                                            "faceImg": "",
                                                            "faceImage": "",
                                                            "imFlag": 0,
                                                            "serviceRemark": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "roleId": "",
                                                            "roleName": "",
                                                            "oldRoleId": "",
                                                            "oldRoleName": "",
                                                            "serviceNo": "",
                                                            "numberId": "",
                                                            "groupName": "",
                                                            "topFlag": 0,
                                                            "departId": "",
                                                            "departName": "",
                                                            "qywxDepartId": "",
                                                            "departFlag": 0,
                                                            "departType": "",
                                                            "proxyServiceId": "",
                                                            "channelUserId": "",
                                                            "managerFlag": 0,
                                                            "pwdType": 0,
                                                            "docStatus": 0,
                                                            "maxReceivingTickets": 0,
                                                            "serviceList": [
                                                                {
                                                                    "serviceId": "",
                                                                    "serviceName": "",
                                                                    "cusRoleId": "",
                                                                    "cusRoleName": "",
                                                                    "serviceEmail": "",
                                                                    "qywxUserId": "",
                                                                    "qywxBindStatus": 0
                                                                }
                                                            ],
                                                            "departList": [
                                                                {
                                                                    "relId": "",
                                                                    "departId": "",
                                                                    "serviceId": "",
                                                                    "roleId": "",
                                                                    "serviceEmail": "",
                                                                    "managerFlag": 0,
                                                                    "companyId": "",
                                                                    "createId": "",
                                                                    "createTime": 0,
                                                                    "mainDepartFlag": 0
                                                                }
                                                            ],
                                                            "serviceIdList": [
                                                                ""
                                                            ],
                                                            "ticketGroupIdList": [
                                                                ""
                                                            ],
                                                            "onlineGroupIdList": [
                                                                ""
                                                            ],
                                                            "callGroupIdList": [
                                                                ""
                                                            ],
                                                            "elecGroupIdList": [
                                                                ""
                                                            ],
                                                            "departIdList": [
                                                                ""
                                                            ],
                                                            "departLevelNoList": [
                                                                ""
                                                            ],
                                                            "productIds": [
                                                                ""
                                                            ],
                                                            "productNames": [
                                                                ""
                                                            ],
                                                            "checked": false,
                                                            "qywxBindStatus": 0,
                                                            "qywxUserId": "",
                                                            "language": "",
                                                            "workbenchLang": "",
                                                            "mainDepartName": "",
                                                            "mainDepartId": "",
                                                            "callV6Flag": 0,
                                                            "roleType": 0,
                                                            "verificationCode": "",
                                                            "newServicePwd": "",
                                                            "phoneFlag": 0,
                                                            "duty": "",
                                                            "maxNum": 0,
                                                            "serviceIds": "",
                                                            "sortFlag": 0,
                                                            "newbieFlag": 0,
                                                            "timezone": "",
                                                            "timezoneId": "",
                                                            "timezoneValue": "",
                                                            "offset": "",
                                                            "groupType": 0,
                                                            "groupNames": [
                                                                {
                                                                    "0": {}
                                                                }
                                                            ],
                                                            "groupId": "",
                                                            "ticketGroupIds": [],
                                                            "onlineGroupIds": [],
                                                            "callGroupIds": [],
                                                            "departmentInfoList": [
                                                                {
                                                                    "departId": "",
                                                                    "departName": "",
                                                                    "departLevel": 0,
                                                                    "sourceNo": 0,
                                                                    "departType": "",
                                                                    "parentId": "",
                                                                    "departLevelNo": "",
                                                                    "qywxDepartId": "",
                                                                    "companyId": "",
                                                                    "createTime": 0,
                                                                    "createId": "",
                                                                    "updateTime": 0,
                                                                    "updateId": "",
                                                                    "subFlag": 0,
                                                                    "deparentIds": [
                                                                        ""
                                                                    ],
                                                                    "subDepartmentList": []
                                                                }
                                                            ],
                                                            "roleFlag": 0,
                                                            "product": 0,
                                                            "authCode": "",
                                                            "authCodeList": [
                                                                ""
                                                            ],
                                                            "departLevelNoNames": "",
                                                            "departLevelNoNameList": [
                                                                ""
                                                            ]
                                                        }
                                                    ],
                                                    "onlineGroupIds": [
                                                        {
                                                            "terminalCode": "",
                                                            "operatePageCode": "",
                                                            "serviceId": "",
                                                            "companyId": "",
                                                            "serviceName": "",
                                                            "serviceNick": "",
                                                            "servicePwd": "",
                                                            "password": "",
                                                            "serviceStatus": 0,
                                                            "oldServiceStatus": 0,
                                                            "serviceQq": "",
                                                            "serviceBirthday": 0,
                                                            "phoneNo": "",
                                                            "telephoneNo": "",
                                                            "serviceEmail": "",
                                                            "serviceAddress": "",
                                                            "createServiceId": "",
                                                            "createTime": 0,
                                                            "updateServiceId": "",
                                                            "updateTime": 0,
                                                            "effectTime": 0,
                                                            "invalidTime": 0,
                                                            "loginTime": 0,
                                                            "lastLoginTime": 0,
                                                            "maxAccept": 0,
                                                            "maxAccount": 0,
                                                            "faceImg": "",
                                                            "faceImage": "",
                                                            "imFlag": 0,
                                                            "serviceRemark": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "roleId": "",
                                                            "roleName": "",
                                                            "oldRoleId": "",
                                                            "oldRoleName": "",
                                                            "serviceNo": "",
                                                            "numberId": "",
                                                            "groupName": "",
                                                            "topFlag": 0,
                                                            "departId": "",
                                                            "departName": "",
                                                            "qywxDepartId": "",
                                                            "departFlag": 0,
                                                            "departType": "",
                                                            "proxyServiceId": "",
                                                            "channelUserId": "",
                                                            "managerFlag": 0,
                                                            "pwdType": 0,
                                                            "docStatus": 0,
                                                            "maxReceivingTickets": 0,
                                                            "serviceList": [
                                                                {
                                                                    "serviceId": "",
                                                                    "serviceName": "",
                                                                    "cusRoleId": "",
                                                                    "cusRoleName": "",
                                                                    "serviceEmail": "",
                                                                    "qywxUserId": "",
                                                                    "qywxBindStatus": 0
                                                                }
                                                            ],
                                                            "departList": [
                                                                {
                                                                    "relId": "",
                                                                    "departId": "",
                                                                    "serviceId": "",
                                                                    "roleId": "",
                                                                    "serviceEmail": "",
                                                                    "managerFlag": 0,
                                                                    "companyId": "",
                                                                    "createId": "",
                                                                    "createTime": 0,
                                                                    "mainDepartFlag": 0
                                                                }
                                                            ],
                                                            "serviceIdList": [
                                                                ""
                                                            ],
                                                            "ticketGroupIdList": [
                                                                ""
                                                            ],
                                                            "onlineGroupIdList": [
                                                                ""
                                                            ],
                                                            "callGroupIdList": [
                                                                ""
                                                            ],
                                                            "elecGroupIdList": [
                                                                ""
                                                            ],
                                                            "departIdList": [
                                                                ""
                                                            ],
                                                            "departLevelNoList": [
                                                                ""
                                                            ],
                                                            "productIds": [
                                                                ""
                                                            ],
                                                            "productNames": [
                                                                ""
                                                            ],
                                                            "checked": false,
                                                            "qywxBindStatus": 0,
                                                            "qywxUserId": "",
                                                            "language": "",
                                                            "workbenchLang": "",
                                                            "mainDepartName": "",
                                                            "mainDepartId": "",
                                                            "callV6Flag": 0,
                                                            "roleType": 0,
                                                            "verificationCode": "",
                                                            "newServicePwd": "",
                                                            "phoneFlag": 0,
                                                            "duty": "",
                                                            "maxNum": 0,
                                                            "serviceIds": "",
                                                            "sortFlag": 0,
                                                            "newbieFlag": 0,
                                                            "timezone": "",
                                                            "timezoneId": "",
                                                            "timezoneValue": "",
                                                            "offset": "",
                                                            "groupType": 0,
                                                            "groupNames": [
                                                                {
                                                                    "0": {}
                                                                }
                                                            ],
                                                            "groupId": "",
                                                            "ticketGroupIds": [],
                                                            "onlineGroupIds": [],
                                                            "callGroupIds": [],
                                                            "departmentInfoList": [
                                                                {
                                                                    "departId": "",
                                                                    "departName": "",
                                                                    "departLevel": 0,
                                                                    "sourceNo": 0,
                                                                    "departType": "",
                                                                    "parentId": "",
                                                                    "departLevelNo": "",
                                                                    "qywxDepartId": "",
                                                                    "companyId": "",
                                                                    "createTime": 0,
                                                                    "createId": "",
                                                                    "updateTime": 0,
                                                                    "updateId": "",
                                                                    "subFlag": 0,
                                                                    "deparentIds": [
                                                                        ""
                                                                    ],
                                                                    "subDepartmentList": []
                                                                }
                                                            ],
                                                            "roleFlag": 0,
                                                            "product": 0,
                                                            "authCode": "",
                                                            "authCodeList": [
                                                                ""
                                                            ],
                                                            "departLevelNoNames": "",
                                                            "departLevelNoNameList": [
                                                                ""
                                                            ]
                                                        }
                                                    ],
                                                    "callGroupIds": [
                                                        {
                                                            "terminalCode": "",
                                                            "operatePageCode": "",
                                                            "serviceId": "",
                                                            "companyId": "",
                                                            "serviceName": "",
                                                            "serviceNick": "",
                                                            "servicePwd": "",
                                                            "password": "",
                                                            "serviceStatus": 0,
                                                            "oldServiceStatus": 0,
                                                            "serviceQq": "",
                                                            "serviceBirthday": 0,
                                                            "phoneNo": "",
                                                            "telephoneNo": "",
                                                            "serviceEmail": "",
                                                            "serviceAddress": "",
                                                            "createServiceId": "",
                                                            "createTime": 0,
                                                            "updateServiceId": "",
                                                            "updateTime": 0,
                                                            "effectTime": 0,
                                                            "invalidTime": 0,
                                                            "loginTime": 0,
                                                            "lastLoginTime": 0,
                                                            "maxAccept": 0,
                                                            "maxAccount": 0,
                                                            "faceImg": "",
                                                            "faceImage": "",
                                                            "imFlag": 0,
                                                            "serviceRemark": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "roleId": "",
                                                            "roleName": "",
                                                            "oldRoleId": "",
                                                            "oldRoleName": "",
                                                            "serviceNo": "",
                                                            "numberId": "",
                                                            "groupName": "",
                                                            "topFlag": 0,
                                                            "departId": "",
                                                            "departName": "",
                                                            "qywxDepartId": "",
                                                            "departFlag": 0,
                                                            "departType": "",
                                                            "proxyServiceId": "",
                                                            "channelUserId": "",
                                                            "managerFlag": 0,
                                                            "pwdType": 0,
                                                            "docStatus": 0,
                                                            "maxReceivingTickets": 0,
                                                            "serviceList": [
                                                                {
                                                                    "serviceId": "",
                                                                    "serviceName": "",
                                                                    "cusRoleId": "",
                                                                    "cusRoleName": "",
                                                                    "serviceEmail": "",
                                                                    "qywxUserId": "",
                                                                    "qywxBindStatus": 0
                                                                }
                                                            ],
                                                            "departList": [
                                                                {
                                                                    "relId": "",
                                                                    "departId": "",
                                                                    "serviceId": "",
                                                                    "roleId": "",
                                                                    "serviceEmail": "",
                                                                    "managerFlag": 0,
                                                                    "companyId": "",
                                                                    "createId": "",
                                                                    "createTime": 0,
                                                                    "mainDepartFlag": 0
                                                                }
                                                            ],
                                                            "serviceIdList": [
                                                                ""
                                                            ],
                                                            "ticketGroupIdList": [
                                                                ""
                                                            ],
                                                            "onlineGroupIdList": [
                                                                ""
                                                            ],
                                                            "callGroupIdList": [
                                                                ""
                                                            ],
                                                            "elecGroupIdList": [
                                                                ""
                                                            ],
                                                            "departIdList": [
                                                                ""
                                                            ],
                                                            "departLevelNoList": [
                                                                ""
                                                            ],
                                                            "productIds": [
                                                                ""
                                                            ],
                                                            "productNames": [
                                                                ""
                                                            ],
                                                            "checked": false,
                                                            "qywxBindStatus": 0,
                                                            "qywxUserId": "",
                                                            "language": "",
                                                            "workbenchLang": "",
                                                            "mainDepartName": "",
                                                            "mainDepartId": "",
                                                            "callV6Flag": 0,
                                                            "roleType": 0,
                                                            "verificationCode": "",
                                                            "newServicePwd": "",
                                                            "phoneFlag": 0,
                                                            "duty": "",
                                                            "maxNum": 0,
                                                            "serviceIds": "",
                                                            "sortFlag": 0,
                                                            "newbieFlag": 0,
                                                            "timezone": "",
                                                            "timezoneId": "",
                                                            "timezoneValue": "",
                                                            "offset": "",
                                                            "groupType": 0,
                                                            "groupNames": [
                                                                {
                                                                    "0": {}
                                                                }
                                                            ],
                                                            "groupId": "",
                                                            "ticketGroupIds": [],
                                                            "onlineGroupIds": [],
                                                            "callGroupIds": [],
                                                            "departmentInfoList": [
                                                                {
                                                                    "departId": "",
                                                                    "departName": "",
                                                                    "departLevel": 0,
                                                                    "sourceNo": 0,
                                                                    "departType": "",
                                                                    "parentId": "",
                                                                    "departLevelNo": "",
                                                                    "qywxDepartId": "",
                                                                    "companyId": "",
                                                                    "createTime": 0,
                                                                    "createId": "",
                                                                    "updateTime": 0,
                                                                    "updateId": "",
                                                                    "subFlag": 0,
                                                                    "deparentIds": [
                                                                        ""
                                                                    ],
                                                                    "subDepartmentList": []
                                                                }
                                                            ],
                                                            "roleFlag": 0,
                                                            "product": 0,
                                                            "authCode": "",
                                                            "authCodeList": [
                                                                ""
                                                            ],
                                                            "departLevelNoNames": "",
                                                            "departLevelNoNameList": [
                                                                ""
                                                            ]
                                                        }
                                                    ],
                                                    "departmentInfoList": [
                                                        {
                                                            "departId": "",
                                                            "departName": "",
                                                            "departLevel": 0,
                                                            "sourceNo": 0,
                                                            "departType": "",
                                                            "parentId": "",
                                                            "departLevelNo": "",
                                                            "qywxDepartId": "",
                                                            "companyId": "",
                                                            "createTime": 0,
                                                            "createId": "",
                                                            "updateTime": 0,
                                                            "updateId": "",
                                                            "subFlag": 0,
                                                            "deparentIds": [
                                                                ""
                                                            ],
                                                            "subDepartmentList": [
                                                                {
                                                                    "departId": "",
                                                                    "departName": "",
                                                                    "departLevel": 0,
                                                                    "sourceNo": 0,
                                                                    "departType": "",
                                                                    "parentId": "",
                                                                    "departLevelNo": "",
                                                                    "qywxDepartId": "",
                                                                    "companyId": "",
                                                                    "createTime": 0,
                                                                    "createId": "",
                                                                    "updateTime": 0,
                                                                    "updateId": "",
                                                                    "subFlag": 0,
                                                                    "deparentIds": [
                                                                        ""
                                                                    ],
                                                                    "subDepartmentList": []
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "roleFlag": 0,
                                                    "product": 0,
                                                    "authCode": "",
                                                    "authCodeList": [
                                                        ""
                                                    ],
                                                    "departLevelNoNames": "",
                                                    "departLevelNoNameList": [
                                                        ""
                                                    ]
                                                }
                                            ],
                                            "item": {},
                                            "retCode": "",
                                            "retMsg": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-run-in-apifox": "https://apifox.com/web/project/345161/apis/api-3475141-run",
                "security": []
            }
        },
        "/agent/queryAgentInfoList": {
            "get": {
                "summary": "查询客服信息列表",
                "x-apifox-folder": "basic-public/service/坐席信息管理",
                "x-apifox-status": "released",
                "deprecated": false,
                "description": "",
                "tags": [
                    "basic-public/service/坐席信息管理"
                ],
                "parameters": [
                    {
                        "name": "serviceId",
                        "in": "query",
                        "description": "客服ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "companyId",
                        "in": "query",
                        "description": "公司ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceNick",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceStatus",
                        "in": "query",
                        "description": "客服状态 0未激活，1启用中，2平台管控，9停用，-1删除",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "phoneNo",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceEmail",
                        "in": "query",
                        "description": "客服邮箱",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cusRoleId",
                        "in": "query",
                        "description": "客服角色ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "roleId",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupId",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupIds",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cusRoleName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "serviceNo",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "departId",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "managerFlag",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "qywxBindStatus",
                        "in": "query",
                        "description": "客服绑定状态 0和2或者NULL表示未绑定，1表示绑定",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "productIdList",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "queryContent",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "queryType",
                        "in": "query",
                        "description": "查询类型 1 所有 2 组织架构",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departFlag",
                        "in": "query",
                        "description": "查询部门数据  1 当前部门",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "serviceIdList",
                        "in": "query",
                        "description": "一批客服ID",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "departIdList",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "agentIdList",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "roleIdList",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "userIdList",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "页数",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "每页记录数",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "qywxUserId",
                        "in": "query",
                        "description": "企业微信userId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "qywxUserIdList",
                        "in": "query",
                        "description": "企微userId列表",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sortCol",
                        "in": "query",
                        "description": "排序字段",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortSeq",
                        "in": "query",
                        "description": "排序结果，降序desc，还是升序asc",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "多语言",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "flag",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "timezone",
                        "in": "query",
                        "description": "时区",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "groupIdList",
                        "in": "query",
                        "description": "客服组id list",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "delDepartFlag",
                        "in": "query",
                        "description": "查询删除部门信息  1查询",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeneralVO%C2%ABAgentVO%C2%BB",
                                    "description": ""
                                },
                                "examples": {
                                    "1": {
                                        "summary": "成功示例",
                                        "value": {
                                            "pageNo": 0,
                                            "pageCount": 0,
                                            "totalCount": 0,
                                            "pageSize": 0,
                                            "items": [
                                                {
                                                    "terminalCode": "",
                                                    "operatePageCode": "",
                                                    "serviceId": "",
                                                    "companyId": "",
                                                    "serviceName": "",
                                                    "serviceNick": "",
                                                    "servicePwd": "",
                                                    "password": "",
                                                    "serviceStatus": 0,
                                                    "oldServiceStatus": 0,
                                                    "serviceQq": "",
                                                    "serviceBirthday": 0,
                                                    "phoneNo": "",
                                                    "telephoneNo": "",
                                                    "serviceEmail": "",
                                                    "serviceAddress": "",
                                                    "createServiceId": "",
                                                    "createTime": 0,
                                                    "updateServiceId": "",
                                                    "updateTime": 0,
                                                    "effectTime": 0,
                                                    "invalidTime": 0,
                                                    "loginTime": 0,
                                                    "lastLoginTime": 0,
                                                    "maxAccept": 0,
                                                    "maxAccount": 0,
                                                    "faceImg": "",
                                                    "faceImage": "",
                                                    "imFlag": 0,
                                                    "serviceRemark": "",
                                                    "cusRoleId": "",
                                                    "cusRoleName": "",
                                                    "roleId": "",
                                                    "roleName": "",
                                                    "oldRoleId": "",
                                                    "oldRoleName": "",
                                                    "serviceNo": "",
                                                    "numberId": "",
                                                    "groupName": "",
                                                    "topFlag": 0,
                                                    "departId": "",
                                                    "departName": "",
                                                    "qywxDepartId": "",
                                                    "departFlag": 0,
                                                    "departType": "",
                                                    "proxyServiceId": "",
                                                    "channelUserId": "",
                                                    "managerFlag": 0,
                                                    "pwdType": 0,
                                                    "docStatus": 0,
                                                    "maxReceivingTickets": 0,
                                                    "serviceList": [
                                                        {
                                                            "serviceId": "",
                                                            "serviceName": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "serviceEmail": "",
                                                            "qywxUserId": "",
                                                            "qywxBindStatus": 0
                                                        }
                                                    ],
                                                    "departList": [
                                                        {
                                                            "relId": "",
                                                            "departId": "",
                                                            "serviceId": "",
                                                            "roleId": "",
                                                            "serviceEmail": "",
                                                            "managerFlag": 0,
                                                            "companyId": "",
                                                            "createId": "",
                                                            "createTime": 0,
                                                            "mainDepartFlag": 0
                                                        }
                                                    ],
                                                    "serviceIdList": [
                                                        ""
                                                    ],
                                                    "ticketGroupIdList": [
                                                        ""
                                                    ],
                                                    "onlineGroupIdList": [
                                                        ""
                                                    ],
                                                    "callGroupIdList": [
                                                        ""
                                                    ],
                                                    "elecGroupIdList": [
                                                        ""
                                                    ],
                                                    "departIdList": [
                                                        ""
                                                    ],
                                                    "departLevelNoList": [
                                                        ""
                                                    ],
                                                    "productIds": [
                                                        ""
                                                    ],
                                                    "productNames": [
                                                        ""
                                                    ],
                                                    "checked": false,
                                                    "qywxBindStatus": 0,
                                                    "qywxUserId": "",
                                                    "language": "",
                                                    "workbenchLang": "",
                                                    "mainDepartName": "",
                                                    "mainDepartId": "",
                                                    "callV6Flag": 0,
                                                    "roleType": 0,
                                                    "verificationCode": "",
                                                    "newServicePwd": "",
                                                    "phoneFlag": 0,
                                                    "duty": "",
                                                    "maxNum": 0,
                                                    "serviceIds": "",
                                                    "sortFlag": 0,
                                                    "newbieFlag": 0,
                                                    "timezone": "",
                                                    "timezoneId": "",
                                                    "timezoneValue": "",
                                                    "offset": "",
                                                    "groupType": 0,
                                                    "groupNames": [
                                                        {
                                                            "0": {}
                                                        }
                                                    ],
                                                    "groupId": "",
                                                    "ticketGroupIds": [
                                                        {
                                                            "terminalCode": "",
                                                            "operatePageCode": "",
                                                            "serviceId": "",
                                                            "companyId": "",
                                                            "serviceName": "",
                                                            "serviceNick": "",
                                                            "servicePwd": "",
                                                            "password": "",
                                                            "serviceStatus": 0,
                                                            "oldServiceStatus": 0,
                                                            "serviceQq": "",
                                                            "serviceBirthday": 0,
                                                            "phoneNo": "",
                                                            "telephoneNo": "",
                                                            "serviceEmail": "",
                                                            "serviceAddress": "",
                                                            "createServiceId": "",
                                                            "createTime": 0,
                                                            "updateServiceId": "",
                                                            "updateTime": 0,
                                                            "effectTime": 0,
                                                            "invalidTime": 0,
                                                            "loginTime": 0,
                                                            "lastLoginTime": 0,
                                                            "maxAccept": 0,
                                                            "maxAccount": 0,
                                                            "faceImg": "",
                                                            "faceImage": "",
                                                            "imFlag": 0,
                                                            "serviceRemark": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "roleId": "",
                                                            "roleName": "",
                                                            "oldRoleId": "",
                                                            "oldRoleName": "",
                                                            "serviceNo": "",
                                                            "numberId": "",
                                                            "groupName": "",
                                                            "topFlag": 0,
                                                            "departId": "",
                                                            "departName": "",
                                                            "qywxDepartId": "",
                                                            "departFlag": 0,
                                                            "departType": "",
                                                            "proxyServiceId": "",
                                                            "channelUserId": "",
                                                            "managerFlag": 0,
                                                            "pwdType": 0,
                                                            "docStatus": 0,
                                                            "maxReceivingTickets": 0,
                                                            "serviceList": [
                                                                {
                                                                    "serviceId": "",
                                                                    "serviceName": "",
                                                                    "cusRoleId": "",
                                                                    "cusRoleName": "",
                                                                    "serviceEmail": "",
                                                                    "qywxUserId": "",
                                                                    "qywxBindStatus": 0
                                                                }
                                                            ],
                                                            "departList": [
                                                                {
                                                                    "relId": "",
                                                                    "departId": "",
                                                                    "serviceId": "",
                                                                    "roleId": "",
                                                                    "serviceEmail": "",
                                                                    "managerFlag": 0,
                                                                    "companyId": "",
                                                                    "createId": "",
                                                                    "createTime": 0,
                                                                    "mainDepartFlag": 0
                                                                }
                                                            ],
                                                            "serviceIdList": [
                                                                ""
                                                            ],
                                                            "ticketGroupIdList": [
                                                                ""
                                                            ],
                                                            "onlineGroupIdList": [
                                                                ""
                                                            ],
                                                            "callGroupIdList": [
                                                                ""
                                                            ],
                                                            "elecGroupIdList": [
                                                                ""
                                                            ],
                                                            "departIdList": [
                                                                ""
                                                            ],
                                                            "departLevelNoList": [
                                                                ""
                                                            ],
                                                            "productIds": [
                                                                ""
                                                            ],
                                                            "productNames": [
                                                                ""
                                                            ],
                                                            "checked": false,
                                                            "qywxBindStatus": 0,
                                                            "qywxUserId": "",
                                                            "language": "",
                                                            "workbenchLang": "",
                                                            "mainDepartName": "",
                                                            "mainDepartId": "",
                                                            "callV6Flag": 0,
                                                            "roleType": 0,
                                                            "verificationCode": "",
                                                            "newServicePwd": "",
                                                            "phoneFlag": 0,
                                                            "duty": "",
                                                            "maxNum": 0,
                                                            "serviceIds": "",
                                                            "sortFlag": 0,
                                                            "newbieFlag": 0,
                                                            "timezone": "",
                                                            "timezoneId": "",
                                                            "timezoneValue": "",
                                                            "offset": "",
                                                            "groupType": 0,
                                                            "groupNames": [
                                                                {
                                                                    "0": {}
                                                                }
                                                            ],
                                                            "groupId": "",
                                                            "ticketGroupIds": [],
                                                            "onlineGroupIds": [],
                                                            "callGroupIds": [],
                                                            "departmentInfoList": [
                                                                {
                                                                    "departId": "",
                                                                    "departName": "",
                                                                    "departLevel": 0,
                                                                    "sourceNo": 0,
                                                                    "departType": "",
                                                                    "parentId": "",
                                                                    "departLevelNo": "",
                                                                    "qywxDepartId": "",
                                                                    "companyId": "",
                                                                    "createTime": 0,
                                                                    "createId": "",
                                                                    "updateTime": 0,
                                                                    "updateId": "",
                                                                    "subFlag": 0,
                                                                    "deparentIds": [
                                                                        ""
                                                                    ],
                                                                    "subDepartmentList": []
                                                                }
                                                            ],
                                                            "roleFlag": 0,
                                                            "product": 0,
                                                            "authCode": "",
                                                            "authCodeList": [
                                                                ""
                                                            ],
                                                            "departLevelNoNames": "",
                                                            "departLevelNoNameList": [
                                                                ""
                                                            ]
                                                        }
                                                    ],
                                                    "onlineGroupIds": [
                                                        {
                                                            "terminalCode": "",
                                                            "operatePageCode": "",
                                                            "serviceId": "",
                                                            "companyId": "",
                                                            "serviceName": "",
                                                            "serviceNick": "",
                                                            "servicePwd": "",
                                                            "password": "",
                                                            "serviceStatus": 0,
                                                            "oldServiceStatus": 0,
                                                            "serviceQq": "",
                                                            "serviceBirthday": 0,
                                                            "phoneNo": "",
                                                            "telephoneNo": "",
                                                            "serviceEmail": "",
                                                            "serviceAddress": "",
                                                            "createServiceId": "",
                                                            "createTime": 0,
                                                            "updateServiceId": "",
                                                            "updateTime": 0,
                                                            "effectTime": 0,
                                                            "invalidTime": 0,
                                                            "loginTime": 0,
                                                            "lastLoginTime": 0,
                                                            "maxAccept": 0,
                                                            "maxAccount": 0,
                                                            "faceImg": "",
                                                            "faceImage": "",
                                                            "imFlag": 0,
                                                            "serviceRemark": "",
                                                            "cusRoleId": "",
                                                            "cusRoleName": "",
                                                            "roleId": "",
                                                            "roleName": "",
                                                            "oldRoleId": "",
                                                            "oldRoleName": "",
                                                            "serviceNo": "",
                                                            "numberId": "",
                                                            "groupName": "",
                                                            "topFlag": 0,
                                                            "departId": "",
                                                            "departName": "",
                                                            "qywxDepartId": "",
                                                            "departFlag": 0,
                                                            "departType": "",
                                                            "proxyServiceId": "",
                                                            "channelUserId": "",
                                                            "managerFlag": 0,
                                                            "pwdType": 0,
                                                            "docStatus": 0,
                                                            "maxReceivingTickets": 0,
                                                            "serviceList": [
                                                                {
                                                                    "serviceId": "",
                                                                    "serviceName": "",
                                                                    "cusRoleId": "",
                                                                    "cusRoleName": "",
                                                                    "serviceEmail": "",
                                                                    "qywxUserId": "",
                                                                    "qywxBindStatus": 0
                                                                }
                                                            ],
                                                            "departList": [
                                                                {
                                                                    "relId": "",
                                                                    "departId": "",
                                                                    "serviceId": "",
                                                                    "roleId": "",
                                                                    "serviceEmail": "",
                                                                    "managerFlag": 0,
                                                                    "companyId": "",
                                                                    "createId": "",
                                                                    "createTime": 0,
                                                                    "mainDepartFlag": 0
                                                                }
                                                            ],
                                                            "serviceIdList": [
                                                                ""
                                                            ],
                                                            "ticketGroupIdList": [
                                                                ""
                                                            ],
                                                            "onlineGroupIdList": [
                                                                ""
                                                            ],
                                                            "callGroupIdList": [
                                                                ""
                                                            ],
                                                            "elecGroupIdList": [
                                                                ""
                                                            ],
                                                            "departIdList": [
                                                                ""
                                                            ],
                                                            "departLevelNoList": [
                                                                ""
                                                            ],
                                                            "productIds": [
                                                                ""
                                                            ],
                                                            "productNames": [
                                                                ""
                                                            ],
                                                            "checked": false,
                                                            "qywxBindStatus": 0,
                                                            "qywxUserId": "",
                                                            "language": "",
[...]
